@model AdoMvc.Models.Student
<form method="post">
    Id:<input asp-for="ID" type="text" hidden />
    Name:<input asp-for="Name" type="text" />
    Email:<input asp-for="Email" type="text" />
    <input type="submit" value="submit" />
</form>